.constructor_section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.constructor_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructor_items {
  overflow-y: scroll;
  min-height: 272px;
  max-height: calc(100vh - 616px);
}

.constructor_item {
  display: flex;
  align-items: center;
}

.constructor_item:last-of-type {
  margin-bottom: 0;
}

.ingredient_button {
  position: relative;
}

.drag_button {
  position: absolute;
  top: 50%;
  left: -30px;
  display: flex;
  align-items: center;
  margin-top: -12px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.scrollbox {
  align-self: flex-end;
  max-height: calc(100vh - 284px);
  min-height: 510px;
  overflow-y: scroll;
}

.scrollbar {
  align-self: flex-end;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

body::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
