.order_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order_info {
  max-width: 640px;
}

.order_number {
  text-align: center;
}

.order_title {
  overflow-wrap: break-word;
}

.order_status_in_progress {
  color: #F2F2F3;
}

.order_status_done {
  color: #00cccc;
}

.order_ingredients_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order_ingredients_listitem {
  display: flex;
  justify-content: space-between;
}

.ingredient_details {
  display: flex;
  align-items: center;
}

.ingredient_title {
  overflow-wrap: break-word;
}

.ingredient_cost {
  display: flex;
  align-items: center;
}

.order_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_sum {
  display: flex;
}
