.main {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.active_link {
  color: #fff;
}

.navlink {
  text-decoration: none;
}

.logout {
  align-self: flex-start;
  border: none;
  background: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
