.details {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 420px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
