.order_card {
  box-sizing: border-box;
  border-radius: 40px;
  background: #1c1c21;
}

.order_number {
  display: flex;
  justify-content: space-between;
}

.order_ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_ingredients_images {
  display: flex;
}

.order_images_border {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid #4c4cff;
  border-radius: 50%;
  background: #131316;
  position: relative;
}

.order_images_border:not(:first-of-type) {
  margin-left: -15px;
}

.order_ingredient_image {
  max-width: 100%;
}

.order_icon {
  vertical-align: middle;
}

.order_ingredient_count {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #1c1c21;
  opacity: 0.6;
  color: #f2f2f3;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
